.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
}

/* hover styles */
.location-title {
  text-decoration: none;
  z-index: 1;
  width: 100%;

  /* position the text in t’ middle*/
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.location-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}